<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide Config"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="The Codehaus">

   
   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.apache.maven"/>
   </requires>
</plugin>
