#leftColumn {
  width: 190px;
  border-bottom: none;
}

.sectionTitle {
  padding: 10px;
  border:none;
  border-bottom: 1px solid #999999;
  color: #990000;
  background-color: #ffffff;
}

.subsectionTitle {
  padding: 6px;
  border:none;
  border-bottom: 1px solid #999999;
  color: #990000;
  background-color: #ffffff;
  margin-top: 7px;
  margin-bottom: 7px;
  text-size: 10pt;
}

div.subsectionTitle a {
  text-size: 4pt;
}

#breadcrumbs {
  font-size: 8pt;
  margin: 0pt;
  background-color: #ffffff;
  color: #999999;
  border-top: none;
}

#footer {
  text-align: center; 
  border-top: 1px solid #999999;
  color: #999999;
}

