<nbm>
   <moduleType>autoload</moduleType>
   <codeNameBase>org.codehaus.mevenide.bridges.deployment/3</codeNameBase>
   <cluster>mevenide</cluster>
   <manifest>src/main/nbm/manifest.mf</manifest>
   <homepageUrl>http://mevenide.codehaus.org/m2-site</homepageUrl>
   <distributionUrl>http://mevenide.codehaus.org/nbm_release2</distributionUrl>
   <licenseName>Apache License, Version 2.0</licenseName>
   <licenseFile>license.txt</licenseFile>
   <dependencies>
       <dependency>
           <id>org.codehaus.mevenide:nb-mvn-embedder</id>
           <type>spec</type>
       </dependency>
   </dependencies>
</nbm>