<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin provider-name="the codehaus" id="maven.pde.plugin.test" name="maven pde plugin test" version="0.1.0">
  <runtime>
    <library name="lib/jdom-1.0.jar">
      <export name="*" />
      <package prefixes="org.jdom" />
    </library>
    <library name="nonDefaultTarget/commons-lang-2.0.jar" />
    <library name=".">
      <export name="*" />
    </library>
  </runtime>
  <requires>
    <import plugin="org.eclipse.text" />
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.mevenide.requires.test" />
  </requires>
</plugin>

