<nbm>
   <moduleType>normal</moduleType>
   <codeNameBase>org.codehaus.mevenide.netbeans.apisupport/3</codeNameBase>
   <cluster>mevenide</cluster>
   <manifest>src/main/nbm/manifest.mf</manifest>
   <homepageUrl>http://mevenide.codehaus.org/m2-site</homepageUrl>
   <distributionUrl>http://mevenide.codehaus.org/nbm_release2</distributionUrl>
   <licenseName>Apache License, Version 2.0</licenseName>
   <licenseFile>license.txt</licenseFile>
   <dependencies>
      <dependency>
          <id>org.netbeans.api:org-openide-windows</id>
      </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-util</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-nodes</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-filesystem</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-loaders</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-actions</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-modules</id>
        </dependency>
      <dependency>
          <id>org.codehaus.mevenide:nb-mvn-embedder</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:nb-project</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:indexer</id>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-modules-projectuiapi</id>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-modules-projectapi</id>
      </dependency>
      <dependency>
         <id>org.netbeans.modules:org-netbeans-modules-apisupport-project</id>
      </dependency>
   </dependencies> 
</nbm>