body {
 background: #fff;
 color: #000;
 letter-spacing:1px;
 
 }

li {
	font-size: 8pt;
	color:#777777;
	 letter-spacing:0px;
}

dt {
	font-size: 8pt;
	color:#777777;
	 letter-spacing:0px;
	 margin-left: 20 px;
}


a {
	font-weight: normal;
}

table {
	border: none;
	margin: 0px;
	padding: 0px;
}

.app h3 {
    font-family: sans-serif;
	border-top: none 1px #999999;
	border-bottom: 1px outset #999999;
	/* border-right: 1px outset #999999; */
    padding:6px;
    /* background-color:#dddddd; */
    background-color: #ffffff; 
	color:#990000;
	font-size:12pt;
	text-decoration: bold;
	margin: 1pt;
	margin-top: 8pt;
	/*margin-left: -10px;*/
	
}

.navbar {
    font-family: sans-serif;
	border-top: none 1px #999999;
	border-bottom: 1px outset #eeffff;
	/* border-right: 1px outset #999999; */
    padding:6px;
    /* background-color:#dddddd; */
    background-color: #ffffff; 
	color:#777777;
	font-size:8pt;
	text-decoration: bold;
	margin: 1pt;
	margin-top: 25px;
	/*margin-left: -10px;*/
	
}

.app h3 a {
	font-size:12pt;
	font-stretch:expanded;
	
}





.app h4 {
    font-family: sans-serif;
	border-top: none 1px #bbbbbb;
	/* border-bottom: 1px outset #bbbbbb;*/
	/*border-right: 1px outset #bbbbbb;*/
    padding:2px;
    /* background-color:#eeeeee; */
    background-color: #ffffff; 
	color:#990000;
	/*margin-left: -5px;*/
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.app h4 a {
	font-size:10pt;
	font-weight: normal;
}

.app h4 a:before {
	content: "> ";
}



.app th {
	background-color: #cccccc;
	color: #990000;
        font-family: sans-serif;
        font-size: 8pt;
        border: solid #777777 1px;
	padding: 4px;
	letter-spacing: normal;
	font-weight:normal;
}




.app td {
        font-family: sans-serif;
        font-size: 8pt;
        border: solid #777777 1px;
	padding: 4px;
}

div#banner {
	border: none;
}

code {
	color: #990000;
}

.b td { 
 background: #dddddd;
 color: #000;
 border: solid #555555 1px;
 font-family: sans-serif;
 }

.a td { 
 background: #eeeeee;
 color: #000;
 font-family: sans-serif;
 }

div#banner {
/*
 border-top: 1px solid #369;
 border-bottom: 1px solid #003;
*/
 }

#bodycol div.h3 p {
        /* max-width: 5in; */
	margin-left: 20px;
	line-height: 1.6em;
	font-size: 8pt;
	color:#777777;
	letter-spacing:normal;
}

#banner, #banner td { 
 background: white;
 color: #fff;
 }

#leftcol {
 background: #dddddd;
 color: #000;
 /* border-right: 1px solid #777777; */
 border-bottom: 1px solid #777777;
 border-top: 1px solid #777777;
 margin-left: 10px;
 width:180px;
 border-right: none;
 /*padding-left: 10px;*/
/*
 border-bottom: 1px solid #aaa;
 border-top: 1px solid #fff;
*/
}

#navcolumn {
  margin-left: -10px;
  /*margin-right: -10px;*/
}


#navcolumn {
 background: #dddddd;
 color: #000;
 border-right: none;
 border-bottom: none;
 border-top: none;
 min-width:1.5in;
 /*margin-left:10px;*/
 background-image: none;
 background-repeat: no-repeat;

 }



#navcolumn th {
  color:#990000;
  padding: 4px;
  border-bottom: 1px solid #aaaaaa;
  letter-spacing: normal;
  /* background-color: #cccccc; */
  background-color: #dddddd;
  font-size: 8pt;  
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 3px;
  font-weight: normal;
}

#navcolumn tr td {
  margin-top:20px;
}

#navcolumn td {
  margin-bottom:10px;
}


#navcolumn table {
	/*margin-left: -10px;*/

}

#breadcrumbs {
    border: 1px solid #777777;
    border-left:none;
    border-right:none;
    margin-bottom: 10px;
}

#breadcrumbs {
 background-color: #dddddd;
 
 }

#breadcrumbs td {
	border: none;
	color: #777777;
	padding-left: 1em;
	font-size: 8pt;
	background-color: #dddddd;
}

#source {
 background-color: #eeeeee;
 color: #777777;
 border-right: 1px solid #888; 
 border-left: 1px solid #888; 
 border-top: 1px solid #888; 
 border-bottom: 1px solid #888; 
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 font-size: 8pt;
 }

#source pre {
 color: #777777;
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 background-color: #eeeeee;
 font-size: 9pt;
 }

pre {
 margin-right: 7px;
 margin-left: 7px;
 }

#footer {
 text-align: center;
  background: #dddddd;
  border: 1px solid #777777;
  border-left:none;
  border-right:none;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1em;
  color:#777777;
}

#footer table {
font-size: 8pt;
	background-color: #dddddd;
}

#footer table tr td {
text-align: center;
  border: none;
  padding: 0px;
  margin: 4px;
  background-color: #dddddd;
}

a:link, #breadcrumbs a:visited, #navcolumn a:visited, .tasknav a:visited {
 font-family: sans-serif;
 color:#000099;
 text-decoration: none;
 }

a:active, a:hover, #leftcol a:active, #leftcol a:hover {
 font-family: sans-serif;
 color:#990000;
 text-decoration: none;
 }

a:link.selfref, a:visited.selfref {
 color: #990000;
 text-decoration: none;
 }

.app a:link, .app a:visited {
 font-family: sans-serif;
 color:#000099;
 text-decoration: none;
}

dt a:link.selfref, a:visited.selfref {
 text-weight: bold;
 margin-left: 20px;
 }
 
.app a:active, .app a:hover {
 color:#990000;
 /* text-decoration: underline; */
 }

h3, h4 {
 margin-top: 1em;
 margin-bottom: 0;
 }

img.handle {
 border: 0;
 padding-right: 5px;
}

.poweredBy {
	margin-top: 20px;
	width: 100%;

}
#navcolumn div div {
  padding-left: 10px;
}
