<NetbeansModule>
   <moduleType>normal</moduleType>
   <codeNameBase>org.codehaus.mevenide.netbeans/2</codeNameBase>
   <cluster>mevenide</cluster>
   <manifest>src/main/nbm/manifest.mf</manifest>
   <libraries>
       <library>org.apache.maven:maven-embedder</library>
   </libraries>
   <dependencies>
      <dependency>
          <id>org.netbeans.api:org-openide-io</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.netbeans.api:openide-loaders</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-modules-projectuiapi</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-modules-projectapi</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-modules-java-project</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-modules-queries</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-api-java</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.netbeans.api:org-netbeans-modules-java-platform</id>
	  <type>spec</type>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:nb-mvn-embedder</id>
	  <type>spec</type>
      </dependency>
   </dependencies> 
</NetbeansModule>