<nbm>
   <moduleType>autoload</moduleType>
   <codeNameBase>org.codehaus.mevenide.continuum.rpc/1</codeNameBase>
   <cluster>mevenide</cluster>
   <manifest>src/main/nbm/manifest.mf</manifest>
   <distributionUrl>http://mevenide.codehaus.org/nbm_release2</distributionUrl>
   <licenseName>Apache License, Version 2.0</licenseName>
   <licenseFile>license.txt</licenseFile>
   <libraries>
       <library>org.apache.ws.commons:ws-commons-util</library>
       <library>org.apache.xmlrpc:xmlrpc</library>
       <library>org.apache.xmlrpc:xmlrpc-common</library>
       <library>commons-httpclient:commons-httpclient</library>
       <library>commons-codec:commons-codec</library>
       <library>org.apache.maven.continuum:continuum-model</library>
   </libraries>
   <dependencies>
      <dependency>
          <id>commons-logging:commons-logging</id>
	  <type>spec</type>
          <explicitValue>org.netbeans.libs.commons_logging/1 &gt; 1.0</explicitValue>
      </dependency>
   </dependencies> 
</nbm>