<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide Config"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="Sourceforge">

   <requires>
      <import plugin="@org.mevenide.config.id@"/>
   </requires>
	
   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
         <packages prefixes="org.mevenide.environment,org.mevenide.properties"/>
      </library>
   </runtime>
   
</plugin>
