<NetbeansModule>
   <moduleType>eager</moduleType>
   <codeNameBase>org.codehaus.mevenide.netbeans.j2ee/2</codeNameBase>
   <cluster>mevenide</cluster>
   <manifest>src/main/nbm/manifest.mf</manifest>
   <dependencies>
        <dependency>
            <id>org.netbeans.api:org-openide-util</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-filesystems</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-dialogs</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.codehaus.mevenide:nb-project</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-j2ee-common</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-websvc-websvcapi</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-j2ee-api-ejbmodule</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-projectapi</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-api-web-webmodule</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-java-project</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-j2ee-dd</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-j2eeserver</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-schema2beans</id>
            <type>spec</type>
        </dependency>
      <dependency>
          <id>org.codehaus.mevenide:nb-mvn-embedder</id>
	  <type>spec</type>
      </dependency>
        
   </dependencies> 
</NetbeansModule>