<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.mevenide.ui.test"
   name="Mevenide UI JUnit Tests"
   version="0.1.0">

   <runtime>
      <library name="mevenide-ui-eclipse-test-0.1.1-SNAPSHOT.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
   </requires>


</plugin>
