<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.mevenide.test"
   name="Mevenide Unit Tests"
   version="1.0.0">
   
	<runtime>
      <library name="lib/myDep-1.0.jar">
         <export name="*"/>
         <packages prefixes="org.mydep"/>
      </library>
      <library name="org.mevenide-0.1.jar">
         <export name="*"/>
         <packages prefixes="org.mevenide"/>      
      </library>
    </runtime>
    
    <requires>
      <import plugin="org.mevenide.test"/>
    </requires>
</plugin>
