<?xml version="1.0" encoding="UTF-8"?>
<!-- ?eclipse version="3.0"? -->
<plugin id="org.mevenide.grammar" name="Mevenide Grammar" version="0.1" provider-name="The Codehaus">
    

   
    <runtime>
        
      
        <library name="mevenide-grammar-0.1-SNAPSHOT.jar">
            
         
            <export name="*" />
            
         
            <packages prefixes="org.mevenide.grammar" />
            
      
        </library>
        
   
    </runtime>
    <runtime>
    <library name="lib/commons-logging-1.0.3.jar">
            <export name="*" />
        </library>
        <library name="lib/log4j-1.2.8.jar">
            <export name="*" />
        </library>
   </runtime>
   
    <requires>
        
      
        <import plugin="org.mevenide.grabber" />
        
      
        <import plugin="org.mevenide.config" />
        
   
    </requires>
    

</plugin>

