<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide UI"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="The Codehaus"
   class="org.mevenide.ui.eclipse.Mevenide">

   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
         <packages prefixes="org.mevenide.ui.eclipse"/>
      </library>
   </runtime>
   <requires>
      <import plugin="@org.mevenide.core.id@"/>
      <import plugin="@org.mevenide.grabber.id@"/>
      <import plugin="@org.mevenide.config.id@"/>
      <import plugin="@org.mevenide.grammar.id@"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.variables"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
   </requires>

   <!-- extension used by Maven plugin providers to declaratively add pages to Maven preference menu -->
   <extension-point id="preference" name="Mevenide Preference Extension Point" schema="extensions-schemas/org.mevenide.ui.preference.exsd"/>

	<!-- sample extension -->
	<extension point="org.mevenide.ui.preference">
       <plugin-provider id="maven-eclipse-plugin-plugin" name="PDE Plugin">
          <description>%PDEPlugin.Description</description>
          <property name="maven.eclipse.plugin.build.mode" 
          			label="Build Mode"
                    default="bundle"
                    required="false"
                    description="Experimental. Specifies the plugin behaviour : if not set to 'bundle' then an Eclipse plugin will be created for each POM dependency."/>
          <property name="maven.eclipse.plugin.dist.dir" 
          			label="Distribution Directory"
                    default="${maven.build.dir}/eclipse/dist"
                    required="true"
                    description="Specifies distribution directory where files will be generated."/>
       </plugin-provider>
    </extension>

   <!-- Maven nature -->
   <extension
         id="mavennature"
         name="maven nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.mevenide.ui.eclipse.nature.MevenideNature">
         </run>
      </runtime>
   </extension>
   <!-- Maven actions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <!-- IContainer contributions (adaptable) -->
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IContainer"
            id="maven.plugin.project.xml.contribution">
         <menu label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator name="RunMaven" />
            <separator name="Synchronize" />
            <separator name="MavenNature" />
         </menu>
         <action
               enablesFor="1"
               label="%RunMaven.label"
               tooltip="%RunMaven.tooltip"
               class="org.mevenide.ui.eclipse.actions.RunMavenAction"
               icon="icons/etool16/maven_exc.gif"
               menubarPath="maven.plugin.menu/RunMaven"
               id="maven.plugin.popup.action">
         </action>
         <action
               enablesFor="1"
               label="%CreatePom.label"
               tooltip="%CreatePom.tooltip"
               class="org.mevenide.ui.eclipse.actions.CreatePomAction"
               icon="icons/etool16/newmfile_wiz.gif"
               menubarPath="maven.plugin.menu/MavenNature"
               id="mevenide.pom.create">
         </action>
         <action
               enablesFor="1"
               label="%Synchronize.Label"
               tooltip="%SynchronizePom.tooltip"
               class="org.mevenide.ui.eclipse.actions.SynchronizeContainerAction"
               icon="icons/eview16/synch_synch.gif"
               menubarPath="maven.plugin.menu/Synchronize"
               id="maven-plugin.Synchronize">
         </action>
      </objectContribution>
      <!-- project.xml contributions -->
      <objectContribution 
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="project.xml"
            id="maven.plugin.project.xml.contribution.ifile">
         <menu label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator name="RunMaven" />
         </menu>
         <action
               enablesFor="1"
               label="%RunMaven.label"
               tooltip="%RunMaven.file.tooltip"
               class="org.mevenide.ui.eclipse.actions.RunMavenAction"
               icon="icons/etool16/maven_exc.gif"
               menubarPath="maven.plugin.menu/RunMaven"
               id="maven.plugin.popup.action">
         </action>
      </objectContribution>
      <!-- *.xml contributions -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xml"
            id="maven.plugin.xml.contribution.ifile">
         <menu label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator name="Synchronize" />
            <separator name="Validate" />
         </menu>
         <action
               label="%Synchronize.Label"
               icon="icons/eview16/synch_synch.gif"
               class="org.mevenide.ui.eclipse.actions.SynchronizePomAction"
               menubarPath="maven.plugin.menu/Synchronize"
               enablesFor="1"
               id="maven-plugin.Synchronize">
         </action>
         <action
               label="%ValidatePom.Label"
               icon="icons/etool16/validate_pom.gif"
               class="org.mevenide.ui.eclipse.actions.ValidatePomAction"
               menubarPath="maven.plugin.menu/Validate"
               enablesFor="1"
               id="maven-plugin.Validate">
         </action>
         <action
               label="%ClearValidate.Label"
               icon="icons/etool16/clr_validate.gif"
               class="org.mevenide.ui.eclipse.actions.ClearValidationMarkersAction"
               menubarPath="maven.plugin.menu/Validate"
               enablesFor="1"
               id="maven-plugin.ClearValidate">
         </action>
      </objectContribution>
   </extension>
   <!-- Mevenide Base preferences -->
   <extension point="org.eclipse.ui.preferencePages">
      <!-- Blank page used as Mevenide Preference Pages holder -->
      <page name="%MavenMenu.label"
            class="org.mevenide.ui.eclipse.preferences.MevenidePreferencePage"
            id="org.mevenide.ui.plugin.preferences.MavenPreferencePage">
      </page>
      <!-- Mandatory locations -->
      <page name="%LocationPreferencePage.label" 
      	 	category="org.mevenide.ui.plugin.preferences.MavenPreferencePage" 
      	 	class="org.mevenide.ui.eclipse.preferences.LocationPreferencePage" 
      	 	id="org.mevenide.ui.eclipse.preferences.LocationPreferencePage">
      </page>
      <!-- Launch related preferences -->
      <page name="%RunMavenPreferencePage.label" 
      	 	category="org.mevenide.ui.plugin.preferences.MavenPreferencePage" 
      	 	class="org.mevenide.ui.eclipse.preferences.RunMavenPreferencePage" 
      	 	id="org.mevenide.ui.eclipse.preferences.RunMavenPreferencePage">
      </page>
      <!-- POM Template management -->
      <page name="%TemplatePreferencePage.label"
            category="org.mevenide.ui.plugin.preferences.MavenPreferencePage"
            class="org.mevenide.ui.eclipse.preferences.TemplatePreferencePage"
            id="org.mevenide.ui.eclipse.preferences.TemplatePreferencePage">
      </page>
      <!-- Plugin Provider Root Holder -->
      <page name="%PluginsRoot.label"
            category="org.mevenide.ui.plugin.preferences.MavenPreferencePage"
            class="org.mevenide.ui.eclipse.preferences.MevenidePreferencePage"
            id="org.mevenide.ui.eclipse.preferences.PluginsRoot">
      </page>
      <!-- Pom Editor Preference Page -->
      <page class="org.mevenide.ui.eclipse.preferences.DependencyTypesPreferencePage"
            category="org.mevenide.ui.plugin.preferences.MavenPreferencePage"
            name="%DependencyTypesPreferencePage.Label"
            id="org.mevenide.ui.eclipse.preferences.DependencyTypesPreferencePage">
       </page>
   </extension>
   <extension point="org.eclipse.ui.editors">
   	  <!-- Maven POM editor -->
      <editor
            name="%PomEditor.name"
            icon="icons/obj16/mfile_obj.gif"
            filenames="project.xml"
            extensions="xml"
            class="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditor"
            contributorClass="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditorContributor"
            id="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditor">
      </editor>
      <!-- maven.xml and plugin.jelly editor - supports Werkz tags -->
      <editor
            name="Maven Jelly Editor"
            icon="icons/obj16/mscript_obj.gif"
            filenames="maven.xml,plugin.jelly"
            default="true"
            class="org.mevenide.ui.eclipse.editors.jelly.MavenXmlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="org.mevenide.ui.eclipse.editors.jelly.MavenXmlEditor">
      </editor>
      <!-- Generic Jelly editor - doesnot support Werkz tags -->
      <editor
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.mevenide.ui.eclipse.editors.jelly.BasicJellyEditor"
            icon="icons/obj16/jellyfile_obj.gif"
            extensions="xml,jelly,jsl"
            id="org.mevenide.ui.eclipse.editors.jelly.BasicJellyEditor"
            name="Generic Jelly Editor">
      </editor>
   </extension>
   <!-- Maven launcher configuration type -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%RunMaven.label"
            delegate="org.mevenide.ui.eclipse.launch.configuration.MavenLaunchDelegate"
            category="org.eclipse.ui.externaltools"
            modes="run"
            id="org.mevenide.ui.launching.MavenLaunchConfigType">
      </launchConfigurationType>
   </extension>
   <!-- Maven launcher configuration type image -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             icon="icons/etool16/maven_exc.gif"
             configTypeID="org.mevenide.ui.launching.MavenLaunchConfigType"
             id="org.mevenide.ui.launching.MavenLaunchConfigTypeImage"/>
    </extension>
   <!-- Maven Launcher TabGroup -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.mevenide.ui.launching.MavenLaunchConfigType"
            class="org.mevenide.ui.eclipse.launch.configuration.MavenRunnerTabGroup"
            id="org.mevenide.ui.launching.TabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <!-- Maven LaunchShortcut -->
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%LaunchShortcut.type.label"
            icon="icons/etool16/maven_exc.gif"
            category="org.eclipse.ui.externaltools"
            class="org.mevenide.ui.eclipse.launch.configuration.MavenLaunchShortcut"
            modes="run"
            id="org.mevenide.ui.mavenShortcut">
      </shortcut>
   </extension>
   <!-- Maven/Eclipse Synchronization view -->
   <extension point="org.eclipse.ui.views">
      <category name="Maven"
            	id="org.mevenide.ui.synchronize.view" />
      <view name="Pom Synchronizer"
            icon="icons/eview16/synch_synch.gif"
            category="org.mevenide.ui.synchronize.view"
            class="org.mevenide.ui.eclipse.sync.view.SynchronizationView"
            id="org.mevenide.ui.synchronize.view.SynchronizationView">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mevenide.ui.synchronize.view.SynchronizationView">
         </view>
      </perspectiveExtension>
   </extension>
   <!-- Maven Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category name="%MevenideWizards.category.name"
            	id="org.mevenide.ui.eclipse.category.mevenide" />
      <!-- New Project Wizard -->
      <wizard
            name="%ProjectWizard.name"
            icon="icons/etool16/newmprj_wiz.gif"
            category="org.mevenide.ui.eclipse.category.mevenide"
            class="org.mevenide.ui.eclipse.wizard.MavenProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            project="true"
            id="org.mevenide.ui.eclipse.wizard">
         <description>
            %ProjectWizard.description
         </description>
      </wizard>
      <!-- New Pom Wizard -->
      <wizard
              class="org.mevenide.ui.eclipse.wizard.NewPomWizard"
              icon="icons/etool16/newmfile_wiz.gif"
              category="org.mevenide.ui.eclipse.category.mevenide"
              project="false"
              name="%POM.Wizard.Name"
              id="org.mevenide.ui.eclipse.wizard.NewPomWizard">
         <description>
            %POM.Wizard.description
         </description>     
      </wizard>
   </extension>
   <!-- POM Validation Error Marker -->
   <extension id="pom_validation_error" point="org.eclipse.core.resources.markers" name="Maven Pom Validation Error">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
 	
</plugin>
