<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide UI"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="The Codehaus"
   class="org.mevenide.ui.eclipse.Mevenide">

   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="@org.mevenide.core.id@"/>
      <import plugin="@org.mevenide.grabber.id@"/>
      <import plugin="@org.mevenide.config.id@"/>
      <import plugin="@org.mevenide.grammar.id@"/>
      <import plugin="org.mevenide.repository"/>
      <import plugin="org.apache.maven"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.variables"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.pde.core"/>
   </requires>

   <!-- extension used by Maven plugin providers to declaratively add pages to Maven preference menu -->
   <extension-point id="preference" name="Mevenide Preference Extension Point" schema="extensions-schemas/org.mevenide.ui.preference.exsd"/>

   <!-- sample extension -->
   <extension id="sample" name="Sample Extension" point="org.mevenide.ui.preference">
      <plugin-provider id="PDE Plugin" name="PDE Plugin">
         <description>%PDEPlugin.Description</description>
          <category name="Common">
	          <property name="maven.eclipse.plugin.artifact.type" 
	          			label="Artifact type"
	                    default="plugin"
	                    required="false"
	                    description="type of generated artifacts - can be 'plugin', 'feature' or 'site', 'help' or 'lib'."/>                     
	          <property name="maven.eclipse.plugin.artifact.id" 
	          			label="Eclipse artifact name"
	                    default="${pom.artifactId}"
	                    required="false"
	                    description="Eclipse artifact id. All '-' characters will be replaced by '.' when generating artifact. this property is also used to filter resources."/>                    
	          <property name="maven.eclipse.plugin.artifact.version" 
	          			label="Eclipse artifact version"
	                    default="${pom.currentVersion}"
	                    required="false"
	                    description="eclipse update artifact version. warning : maven accepts alphanumeric version whereas eclipse dont. this property is also used to filter resources."/>
	          <property name="maven.eclipse.plugin.dist.dir" 
	          			label="Distribution Directory"
	                    default="${maven.build.dir}/eclipse/dist"
	                    required="false"
	                    description="Specifies distribution directory where files will be generated."/>
	          <property name="maven.eclipse.plugin.licenses.dir" 
	          			label="Licenses directory"
	                    default="${basedir}/licenses"
	                    required="false"
	                    description="Directory where 3rd party dependency licenses can be found"/>                    
	          <property name="maven.eclipse.plugin.src.dir" 
	          			label="Templates Directory"
	                    default="${maven.src.dir}/conf/eclipse"
	                    required="false"
	                    description="Templates folder where plugin descriptor template is expected to be found"/>
	          <property name="maven.eclipse.plugin.temp.dir" 
	          			label="Temp Directory"
	                    default="${maven.build.dir}/eclipse/temp"
	                    required="false"
	                    description="Specifies the temporary to use. this property is exposed to avoid potential conflicts."/>
	          <property name="maven.eclipse.plugin.filterset.id" 
	          			label="Custom filterset"
	                    default=""
	                    required="false"
	                    description="Filterset to use when installing plugin inplace. optionnal. if specified default filterset will refine it."/>
	      </category>
          <category name="Plugin Specific">
	          <property name="maven.eclipse.plugin.bundle.lib.dir" 
	          			label="Lib directory Directory"
	                    default="lib"
	                    required="false"
	                    description="relative directory where runtime dependencies are outputted"/>
	          <property name="maven.eclipse.plugin.build.mode" 
	          			label="Build Mode"
	                    default="bundle"
	                    required="false"
	                    description="Experimental. Specifies the plugin behaviour : if not set to 'bundle' then an Eclipse plugin will be created for each POM dependency."/>
	          <property name="maven.eclipse.plugin.ext.dir" 
	          			label="Ext Directory"
	                    default="${maven.build.dir}/eclipse/ext"
	                    required="false"
	                    description="Experimental. ext directory where generated required plugins are put "/>
          </category>
          <category name="Feature Specific">
	          <property name="maven.eclipse.plugin.feature.includes" 
	          			label="Feature inclusion list"
	                    default="feature.xml,feature.properties,license.txt,logo.jpg"
	                    required="false"
	                    description="Controls which files are to be included in the feature distribution file"/>                    
	          <property name="maven.eclipse.plugin.feature.plugins" 
	          			label="Feature plugins"
	                    default=""
	                    required="true"
	                    description="specify which plugins should be in this feature. This property serves two purposes : 1. it permits to update the feature.xml file with the relevant plugin versions 2. it is used by update-site creation goal to retrieve the plugins to package"/>                    
          </category>
          <category name="Site Specific">
	          <property name="maven.eclipse.plugin.site.features" 
	          			label="Site features"
	                    default="feature.xml,feature.properties,license.txt,logo.jpg"
	                    required="true"
	                    description="specifies which features should be integrated in this site release."/>                    
	          <property name="maven.eclipse.plugin.site.feature.dest.dir" 
	          			label="Site features destination"
	                    default="${maven.eclipse.plugin.dist.dir}/features"
	                    required="false"
	                    description="Controls where this update's features should end up"/>                                        
	          <property name="maven.eclipse.plugin.site.plugin.dest.dir" 
	          			label="Site plugins destination"
	                    default="${maven.eclipse.plugin.dist.dir}/plugins"
	                    required="false"
	                    description="Controls where this update's plugins should end up"/>                                        
	          <property name="maven.eclipse.plugin.site.includeRootFiles" 
	          			label="Create Local update site"
	                    default=""
	                    required="false"
	                    description="Controls wether or not site.* files should be included into site archive. if included the content can then be used as local site, else content can be directly unzipped into eclipse installation folder"/>                                        
	      </category>
	      <category name="Help Specific">
	          <property name="maven.eclipse.plugin.help.dir" 
	          			label="Directory where help files are located"
	                    default="target/xdocs"
	                    required="false"
	                    description="Specifies where documentation to be bundled is to be found"/>                    
          </category>
          <category name="SWT">
	          <property name="maven.eclipse.plugin.swt.version" 
	          			label="SWT version"
	                    default="3.0.0"
	                    required="false"
	                    description="swt version to install in the local repo."/>                    
	          <property name="maven.eclipse.plugin.swt.groupId" 
	          			label="SWT groupId"
	                    default="eclipse"
	                    required="false"
	                    description="groupId under which swt should be installed"/>                    
	          <property name="maven.eclipse.plugin.swt.artifactId" 
	          			label="SWT artifactId"
	                    default="eclipse-swt"
	                    required="false"
	                    description="artifactId under which swt should be installed."/>
	      </category>
       </plugin-provider>
    </extension>

   <!-- Maven nature -->
   <extension
         id="mavennature"
         name="maven nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.mevenide.ui.eclipse.nature.MevenideNature"/>
      </runtime>
      <builder id="org.mevenide.ui.mavenbuilder"/>
   </extension>
   <extension id="mavenbuilder" name="Maven Builder" point="org.eclipse.core.resources.builders"> 
      <builder hasNature="true"> 
         <run class="org.mevenide.ui.eclipse.nature.MavenBuilder"/>
      </builder> 
   </extension> 
   
   <extension point="org.eclipse.ui.actionSets">
      <actionSet label="Maven"
                 visible="true"
            	 id="org.mevenide.ui.eclipse.nature.ActionSet">
        <action label="Maven" 
                tooltip="%Maven.ProjectMenu.Addition.Tooltip" 
                style="pulldown" 
                class="org.mevenide.ui.eclipse.nature.CustomMavenLaunchManager" 
                menubarPath="project/additions" 
                id="org.mevenide.maven.build">
        </action>
      </actionSet>
    </extension>
    
   <!-- Maven actions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <!-- IContainer contributions (adaptable) -->
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IContainer"
            id="maven.plugin.project.xml.contribution">
         <menu label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator name="RunMaven" />
            <separator name="Synchronize" />
            <separator name="MavenNature" />
         </menu>
         <action
               enablesFor="1"
               label="%RunMaven.label"
               tooltip="%RunMaven.tooltip"
               class="org.mevenide.ui.eclipse.actions.RunMavenAction"
               icon="icons/etool16/maven_exc.gif"
               menubarPath="maven.plugin.menu/RunMaven"
               id="maven.plugin.popup.action">
         </action>
         <action
               enablesFor="1"
               label="%CreatePom.label"
               tooltip="%CreatePom.tooltip"
               class="org.mevenide.ui.eclipse.actions.CreatePomAction"
               icon="icons/etool16/newmfile_wiz.gif"
               menubarPath="maven.plugin.menu/MavenNature"
               id="mevenide.pom.create">
         </action>
         <action
               enablesFor="1"
               label="%Synchronize.Label"
               tooltip="%SynchronizePom.tooltip"
               class="org.mevenide.ui.eclipse.actions.SynchronizeContainerAction"
               icon="icons/eview16/synch_synch.gif"
               menubarPath="maven.plugin.menu/Synchronize"
               id="maven-plugin.Synchronize">
         </action>
      </objectContribution>
      <!-- iproject contributions - todo : provide icons for nature management -->
      <objectContribution 
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="maven.plugin.project.xml.contribution.iproject">
         <action
               enablesFor="1"
               label="%AddMavenNature.label"
               tooltip="%AddMavenNature.tooltip"
               class="org.mevenide.ui.eclipse.actions.AddMavenNatureAction"
               menubarPath="maven.plugin.menu/MavenNature"
               id="maven.plugin.popup.action.addnature">
               <enablement>
                 <not>
                   <objectState name="projectNature" 
                                value="org.mevenide.ui.mavennature"/>
                 </not>
               </enablement>
         </action>
         <action
               enablesFor="1"
               label="%RemoveMavenNature.label"
               tooltip="%RemoveMavenNature.tooltip"
               class="org.mevenide.ui.eclipse.actions.RemoveMavenNatureAction"
               menubarPath="maven.plugin.menu/MavenNature"
               id="maven.plugin.popup.action.removenature">
               <enablement>
                 <objectState name="projectNature" 
                             value="org.mevenide.ui.mavennature"/>
               </enablement>
         </action>
      </objectContribution>
      <!-- project.xml contributions -->
      <objectContribution 
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="project.xml"
            id="maven.plugin.project.xml.contribution.ifile">
         <menu label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator name="RunMaven" />
         </menu>
         <action
               enablesFor="1"
               label="%RunMaven.label"
               tooltip="%RunMaven.file.tooltip"
               class="org.mevenide.ui.eclipse.actions.RunMavenAction"
               icon="icons/etool16/maven_exc.gif"
               menubarPath="maven.plugin.menu/RunMaven"
               id="maven.plugin.popup.action">
         </action>
      </objectContribution>
      <!-- *.xml contributions -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xml"
            id="maven.plugin.xml.contribution.ifile">
         <menu label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator name="Synchronize" />
            <separator name="Validate" />
         </menu>
         <action
               label="%Synchronize.Label"
               icon="icons/eview16/synch_synch.gif"
               class="org.mevenide.ui.eclipse.actions.SynchronizePomAction"
               menubarPath="maven.plugin.menu/Synchronize"
               enablesFor="1"
               id="maven-plugin.Synchronize">
         </action>
         <action
               label="%ValidatePom.Label"
               icon="icons/etool16/validate_pom.gif"
               class="org.mevenide.ui.eclipse.actions.ValidatePomAction"
               menubarPath="maven.plugin.menu/Validate"
               enablesFor="1"
               id="maven-plugin.Validate">
         </action>
         <action
               label="%ClearValidate.Label"
               icon="icons/etool16/clr_validate.gif"
               class="org.mevenide.ui.eclipse.actions.ClearValidationMarkersAction"
               menubarPath="maven.plugin.menu/Validate"
               enablesFor="1"
               id="maven-plugin.ClearValidate">
         </action>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.mevenide.ui.eclipse.preferences.PreferenceInitializer"/>
   </extension>

   <!-- Mevenide Base preferences -->
   <extension point="org.eclipse.ui.preferencePages">
      <!-- Blank page used as Mevenide Preference Pages holder -->
      <page name="%MavenMenu.label"
            class="org.mevenide.ui.eclipse.preferences.pages.MevenidePreferencePage"
            id="org.mevenide.ui.plugin.preferences.MavenPreferencePage">
      </page>
      <!-- Mandatory locations -->
      <page name="%LocationPreferencePage.label" 
      	 	category="org.mevenide.ui.plugin.preferences.MavenPreferencePage" 
      	 	class="org.mevenide.ui.eclipse.preferences.pages.LocationPreferencePage" 
      	 	id="org.mevenide.ui.eclipse.preferences.pages.LocationPreferencePage">
      </page>
      <!-- Launch related preferences -->
      <page name="%RunMavenPreferencePage.label" 
      	 	category="org.mevenide.ui.plugin.preferences.MavenPreferencePage" 
      	 	class="org.mevenide.ui.eclipse.preferences.pages.RunMavenPreferencePage" 
      	 	id="org.mevenide.ui.eclipse.preferences.pages.RunMavenPreferencePage">
      </page>
      <!-- POM Template management -->
      <page name="%TemplatePreferencePage.label"
            category="org.mevenide.ui.plugin.preferences.MavenPreferencePage"
            class="org.mevenide.ui.eclipse.preferences.pages.TemplatePreferencePage"
            id="org.mevenide.ui.eclipse.preferences.pages.TemplatePreferencePage">
      </page>
      <!-- Plugin Provider Root Holder -->
      <page name="%PluginsRoot.label"
            category="org.mevenide.ui.plugin.preferences.MavenPreferencePage"
            class="org.mevenide.ui.eclipse.preferences.pages.PluginsRootPreferencePage"
            id="org.mevenide.ui.eclipse.preferences.PluginsRoot">
      </page>
      <!-- Pom Editor Preference Page -->
      <page class="org.mevenide.ui.eclipse.preferences.pages.DependencyTypesPreferencePage"
            category="org.mevenide.ui.plugin.preferences.MavenPreferencePage"
            name="%DependencyTypesPreferencePage.Label"
            id="org.mevenide.ui.eclipse.preferences.pages.DependencyTypesPreferencePage">
       </page>
       
       <!-- Sample page to demonstrate the use of org.mevenide.ui.preferences extension point -->
       <page category="org.mevenide.ui.eclipse.preferences.PluginsRoot" 
             name="PDE Plugin" 
             class="org.mevenide.ui.eclipse.preferences.dynamic.DynamicPreferencePage" 
             id="PDE Plugin "/>
   </extension>
   <extension point="org.eclipse.ui.propertyPages" name="Mevenide Properties">
      <!-- Blank page used as Mevenide PropertyPages holder -->
      <page name="%MavenMenu.label"
      		adaptable="true"
      		objectClass="org.eclipse.core.resources.IProject"
            class="org.mevenide.ui.eclipse.properties.pages.MevenidePropertyPage"
            id="org.mevenide.ui.plugin.properties.MavenPropertyPage">
      </page>
      <page name="%LocationPreferencePage.label" 
      		adaptable="true"
      		objectClass="org.eclipse.core.resources.IProject"
      	 	category="org.mevenide.ui.plugin.properties.MavenPropertyPage" 
      	 	class="org.mevenide.ui.eclipse.properties.pages.LocationPropertyPage" 
      	 	id="org.mevenide.ui.eclipse.properties.pages.LocationPropertyPage">
      </page>
   </extension>
   <extension point="org.eclipse.ui.editors">
   	  <!-- Maven POM editor -->
      <editor
            name="%PomEditor.name"
            icon="icons/obj16/mfile_obj.gif"
            default="false"
            extensions="xml"
            class="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditor"
            contributorClass="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditorContributor"
            id="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditor.xml">
      </editor>
      <editor
            name="%PomEditor.name"
            icon="icons/obj16/mfile_obj.gif"
            filenames="project.xml"
            default="true"
            class="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditor"
            contributorClass="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditorContributor"
            id="org.mevenide.ui.eclipse.editors.pom.MevenidePomEditor">
      </editor>
      <!-- maven.xml and plugin.jelly editor - supports Werkz tags -->
      <editor
            name="Maven Jelly Editor"
            icon="icons/obj16/mscript_obj.gif"
            filenames="maven.xml,plugin.jelly"
            default="true"
            class="org.mevenide.ui.eclipse.editors.jelly.MavenXmlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="org.mevenide.ui.eclipse.editors.jelly.MavenXmlEditor">
      </editor>
      <!-- Generic Jelly editor - doesnot support Werkz tags -->
      <editor
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.mevenide.ui.eclipse.editors.jelly.BasicJellyEditor"
            icon="icons/obj16/jellyfile_obj.gif"
            extensions="jelly,jsl"
            default="true"
            id="org.mevenide.ui.eclipse.editors.jelly.BasicJellyEditor"
            name="Generic Jelly Editor">
      </editor>
      <editor
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.mevenide.ui.eclipse.editors.jelly.BasicJellyEditor"
            icon="icons/obj16/jellyfile_obj.gif"
            extensions="xml"
            default="false"
            id="org.mevenide.ui.eclipse.editors.jelly.BasicJellyEditor.xml"
            name="Generic Jelly Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.debug.ui.launchGroups">
      <!-- Custom Action LaunchGroup -->
	  <launchGroup
         label="Maven"
         image="icons/obj16/mprj_obj.gif"
         bannerImage="icons/wizban/ext_tools_wiz.gif"
         category="maven"
         mode="run"
         id="org.mevenide.ui.launching.custom.LaunchGroup">
 	  </launchGroup>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
	   <!-- Maven launcher configuration type -->
      <launchConfigurationType
            name="%RunMaven.label"
            delegate="org.mevenide.ui.eclipse.launch.configuration.MavenLaunchDelegate"
            category="org.eclipse.ui.externaltools"
            modes="run"
            id="org.mevenide.ui.launching.MavenLaunchConfigType">
      </launchConfigurationType>
	   <!-- Custom Actions Definitions -->
      <launchConfigurationType 
            name="%CustomConfiguration.label" 
            category="maven"
            delegate="org.mevenide.ui.eclipse.launch.configuration.MavenLaunchDelegate" 
            modes="run" 
            id="org.mevenide.ui.launching.ActionDefinitionConfigType">
      </launchConfigurationType>
   </extension>
   <!-- Maven launcher configuration type image -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             icon="icons/etool16/maven_exc.gif"
             configTypeID="org.mevenide.ui.launching.MavenLaunchConfigType"
             id="org.mevenide.ui.launching.MavenLaunchConfigTypeImage"/>
       <launchConfigurationTypeImage
             icon="icons/etool16/maven_exc.gif"
             configTypeID="org.mevenide.ui.launching.ActionDefinitionConfigType"
             id="org.mevenide.ui.launching.ActionDefinitionConfigTypeImage"/>
    </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	  <!-- Maven Launcher TabGroup -->
      <launchConfigurationTabGroup
            type="org.mevenide.ui.launching.MavenLaunchConfigType"
            class="org.mevenide.ui.eclipse.launch.configuration.MavenRunnerTabGroup"
            id="org.mevenide.ui.launching.TabGroup">
      </launchConfigurationTabGroup>
      <!-- Custom action definition TabGroup -->
      <launchConfigurationTabGroup type="org.mevenide.ui.launching.ActionDefinitionConfigType" 
                                   class="org.mevenide.ui.eclipse.nature.CustomActionTabGroup" 
                                   id="org.mevenide.ui.launching.ActionDefinitionTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <!-- Maven LaunchShortcut -->
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut category="org.eclipse.ui.externaltools"
              class="org.mevenide.ui.eclipse.launch.configuration.MavenLaunchShortcut"
              icon="icons/etool16/maven_exc.gif"
              id="org.mevenide.ui.mavenShortcut"
              label="%MavenLaunchShortcut.Label"
              modes="run">
       <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
	   <perspective id="org.eclipse.ui.ResourcePerspective"/>
       <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>   
       <contextualLaunch>
          <enablement>
             <with variable="selection">
                <count value="1"/>
                <iterate>
                   <or>
                      <and>
                          <or>
                              <test property="org.eclipse.debug.ui.matchesPattern"
                                    value="maven.xml"/>
                              <test property="org.eclipse.debug.ui.matchesPattern"
                                    value="project.xml"/>
                          
                          </or>
                      </and>
                      <adapt type="org.eclipse.core.resources.IProject"/>
                   </or>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
    </shortcut>
  </extension>
   <!-- Maven/Eclipse Synchronization view -->
   <extension point="org.eclipse.ui.views">
      <category name="Maven"
            	id="org.mevenide.ui.synchronize.view" />
      <view name="Pom Synchronizer"
            icon="icons/eview16/synch_synch.gif"
            category="org.mevenide.ui.synchronize.view"
            class="org.mevenide.ui.eclipse.sync.view.SynchronizationView"
            id="org.mevenide.ui.synchronize.view.SynchronizationView">
      </view>
      <view class="org.mevenide.ui.eclipse.repository.view.RepositoryBrowser"
            icon="icons/eview16/repo_nav.gif"
            category="org.mevenide.ui.synchronize.view"
            name="Repository Browser"
            id="org.mevenide.repository.browser">
      </view>
      <view class="org.mevenide.ui.eclipse.repository.view.SearchResultView" 
            category="org.mevenide.ui.synchronize.view" 
            name="Search Result" id="org.mevenide.repository.search.result"
            icon="icons/eview16/search_results.gif">
      </view>
      <view class="org.mevenide.ui.eclipse.repository.view.SearchQueryView" 
            category="org.mevenide.ui.synchronize.view" 
            icon="icons/eview16/search_repo.gif"
            name="Search Query" id="org.mevenide.repository.search.query">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mevenide.ui.synchronize.view.SynchronizationView">
         </view>
      </perspectiveExtension>
   </extension>
   <!-- Maven Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category name="%MevenideWizards.category.name"
            	id="org.mevenide.ui.eclipse.category.mevenide" />
      <!-- New Project Wizard -->
      <wizard
            name="%ProjectWizard.name"
            icon="icons/etool16/newmprj_wiz.gif"
            category="org.mevenide.ui.eclipse.category.mevenide"
            class="org.mevenide.ui.eclipse.wizard.MavenProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            project="true"
            id="org.mevenide.ui.eclipse.wizard">
         <description>
            %ProjectWizard.description
         </description>
      </wizard>
      <!-- New Pom Wizard -->
      <wizard
              class="org.mevenide.ui.eclipse.wizard.NewPomWizard"
              icon="icons/etool16/newmfile_wiz.gif"
              category="org.mevenide.ui.eclipse.category.mevenide"
              project="false"
              name="%POM.Wizard.Name"
              id="org.mevenide.ui.eclipse.wizard.NewPomWizard">
         <description>
            %POM.Wizard.description
         </description>     
      </wizard>
   </extension>
   <!-- POM Validation Error Marker -->
   <extension id="pom_validation_error" point="org.eclipse.core.resources.markers" name="Maven Pom Validation Error">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>

  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.mevenide.ui.eclipse.classpath.MavenClasspathContainerInitializer"
      id="org.mevenide.ui.autosync.dependencies"
      />
  </extension>

  <extension point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
      class="org.mevenide.ui.eclipse.classpath.MavenClasspathContainerPage"
      id="org.mevenide.ui.autosync.dependencies"
      name="Maven Dependencies"
      />
  </extension>
 	
</plugin>
