<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="mevenide_eclipse_help"
   name="Mevenide_eclipse_help Plug-in"
   version="0.2.0"
   provider-name="The Codehaus">
  
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true" />
   </extension>
   <extension point="org.eclipse.help.toc">
       <toc file="toc_Concepts.xml" />
       <toc file="toc_Tasks.xml" />
       <toc file="toc_Reference.xml" />
   </extension>
   
</plugin>
