<nbm>
    <moduleType>normal</moduleType>
    <codeNameBase>org.codehaus.mevenide.grammar/2</codeNameBase>
    <cluster>mevenide</cluster>
    <manifest>src/main/nbm/manifest.mf</manifest>
   <distributionUrl>http://mevenide.codehaus.org/nbm_release2</distributionUrl>
   <licenseName>Apache License, Version 2.0</licenseName>
   <licenseFile>license.txt</licenseFile>
    <libraries>
        <library>jdom:jdom</library>
    </libraries>
    <dependencies>
        <dependency>
            <id>org.netbeans.api:org-openide-util-enumerations</id>
        </dependency>
        <dependency>
            <id>org.codehaus.mevenide:nb-mvn-embedder</id>
        </dependency>
        <dependency>
            <id>org.codehaus.mevenide:indexer</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-filesystems</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-awt</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-editor-lib</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-editor</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-loaders</id>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-openide-nodes</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-xml-core</id>
            <type>spec</type>
        </dependency>
        <dependency>
            <id>org.netbeans.api:org-netbeans-modules-projectapi</id>
            <type>spec</type>
        </dependency>        
        <dependency>
            <id>org.codehaus.mevenide:nb-project</id>
            <type>spec</type>
        </dependency>
    </dependencies> 
</nbm>