<?xml version="1.0" encoding="UTF-8"?>
<!-- ?eclipse version="3.0"? -->
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide Grammar"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="The Codehaus">

   <requires>
      <import plugin="@org.mevenide.grammar.id@"/>
   </requires>
	
   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
         <packages prefixes="org.mevenide.grammar"/>
      </library>
   </runtime>
   
</plugin>
