<!DOCTYPE idea-plugin PUBLIC "Plugin/DTD" "http://plugins.intellij.net/plugin.dtd">
<idea-plugin url="http://mevenide.codehaus.org/mevenide-idea">
    <name>Mevenide IDEA integration</name>
    <id>mevenide-idea</id>
    <description>This plugin provides strong integration of Maven with IntelliJ IDEA.</description>
    <version>0.2-SNAPSHOT</version>
    <vendor url="http://www.codehaus.org" email="arikkfir@gmail.com">
        The Codehaus
    </vendor>
    <change-notes>
        See http://mevenide.codehaus.org/mevenide-idea/changes-report.html for details.
    </change-notes>
    <idea-version since-build="3339"/>

    <actions>
        <action class="org.mevenide.idea.synchronize.InspectProjectAction"
                text="Synchronize POM with IDEA project"
                id="org.mevenide.idea.SyncProject">
            <add-to-group anchor="last" group-id="AnalyzeMenu"/>
        </action>

        <action class="org.mevenide.idea.project.actions.AddPomAction"
                text="Add POM"
                id="org.mevenide.idea.project.actions.AddPomAction">

            <add-to-group anchor="last" group-id="EditorPopupMenu"/>
            <add-to-group anchor="last" group-id="EditorTabPopupMenu"/>
            <add-to-group anchor="last" group-id="ProjectViewPopupMenu"/>
            <add-to-group anchor="last" group-id="CommanderPopupMenu"/>
        </action>

        <action class="org.mevenide.idea.project.actions.RemovePomAction"
                text="Remove POM"
                id="org.mevenide.idea.project.actions.RemovePomAction">

            <add-to-group anchor="last" group-id="EditorPopupMenu"/>
            <add-to-group anchor="last" group-id="EditorTabPopupMenu"/>
            <add-to-group anchor="last" group-id="ProjectViewPopupMenu"/>
            <add-to-group anchor="last" group-id="CommanderPopupMenu"/>
        </action>
    </actions>

    <application-components>
        <component>
            <implementation-class>org.mevenide.idea.global.MavenManager</implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.global.PropertiesManager</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.global.MavenManagerConfigurable</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.editor.pom.PomFileEditorProvider</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.repository.download.ArtifactDownloadManager</implementation-class>
        </component>
    </application-components>

    <project-components>
        <component>
            <implementation-class>
                org.mevenide.idea.execute.MavenExecuteManager</implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.project.PomManager</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.global.MavenPluginsManager</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.synchronize.InspectionsManager</implementation-class>
        </component>
    </project-components>

    <module-components>
        <component>
            <implementation-class>org.mevenide.idea.module.ModuleSettings</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.module.ModuleSettingsConfigurable</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.module.ModuleActionsManager</implementation-class>
        </component>
    </module-components>

</idea-plugin>