.navLink {
  font-size: 9pt;
}

#bodyColumn {
  margin-left: 0%;
}

.section p {
  font-size: 9pt;
  color: #666666;
}

#breadcrumbs table {
  font-size: 9pt;
  background-color: #ffffff;
  color: #999999;
  border-top: none;
}

.section .navigateWiki p {
  text-align: center;
  padding: 3px;
  letter-spacing: 1px;
  border: double #cccccc;
  margin-bottom: 3px;
  margin-top: 0px;
}

a:hover {
  color: #990000;
  text-decoration: none;
}

a:link, a:visited {
  color: #666666;
}

.section a:link, .section a:visited {
  color: #3633bb;
}

.sectionTitle a:link, .sectionTitle a:visited {
  color: #990000;
  cursor: text;
}

#breadcrumbs a:link, #breadcrumbs a:visited {
  color: #009900;
}

.section {
  padding-top: 0px;
}

#leftColumn {
  width: 190px;
  border-bottom: none;
  border-right: solid 1px #999999;
  border-top: none;
  background-color: #ffffff; 
  height: 100%;
}

#navBox {
  background-color: #ffffff; 
}

#mainTitle p {
  border:none;
  color: #990000;
  background-color: #ffffff;
  font-size: 16pt;
  letter-spacing: 4px;
  font-variant: small-caps;
  font-style: italic;
}

.sectionTitle {
  color: #990000;
  background-color: #eeeeee;
  border: 1px solid #999999;
  font-weight: bold;
  margin-bottom: 3px;
  padding: 3px;
  letter-spacing: 1px;
}

.subsectionTitle {
  border:none;
  color: #990000;
  background-color: #ffffff;
  border-bottom: 1px dashed #999999;
  font-size: 11pt;
  margin-top: 10px;
  letter-spacing: 1px;
}

.navSectionHead {
  font-size: 9pt;
  font-weight: normal;
  letter-spacing: 1px;
  color: #990000;
  background-color: #eeeeee;
  border: 1px solid #999999;
  border-top: none;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: -9px;
  margin-right: -9px;
  letter-space: 1px;
}

.navSection {
  background-color: #ffffff;
  border: solid 1px #999999;
  margin-bottom: 10px; 
  padding-top: 0px;
}

#breadcrumbs {
  font-size: 9pt;
  background-color: #ffffff;
  color: #999999;
  border-top: none;
}

#footer {
  text-align: left; 
  border-top: 1px solid #999999;
  font-size: 9pt;
  color: #999999;
}

#poweredBy {
  border: 0px;
  font-size: 8pt;
  text-align: center;
}

#poweredBy a:link, #poweredBy a:visited{
  color: #009900;
}

table.bodyTable td,  table.bodyTable th{
  padding: 5px;
  border: 1px solid #999999;
}

table.bodyTable tr.a {
  background-color: #ffffff;
}

table.bodyTable tr.b {
  background-color: #eeeeee;
}

table.bodyTable th {
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid #330000;
  color: #666666;
}

.contentBox table {
  margin-top: 10px;
  margin-bottom: 10px;
}

code {
  font-size: small;
}

.title p {
  border:none;
  color: #990000;
  background-color: #ffffff;
  font-size: 16pt;
  letter-spacing: 4px;
  font-variant: small-caps;
  font-style: italic;
}

p:first-letter {
  font-weight: bolder;
}

.section p {
  text-align: justify;
}

.navbar p {
  text-align: center;
}

.navbar p:first-letter {
  font-weight: normal;
}