<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin id="org.mevenide.maven.pde.lib.test" name="maven pde lib test" version="0.1.0" provider-name="the codehaus">
  <runtime>
    <library name="lib/jdom-1.0.jar">
      <export name="*" />
      <package prefixes="org.jdom" />
    </library>
  </runtime>
  <requires />
</plugin>

