<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin id="org.mevenide.maven.pde.plugin.test.2" name="maven pde plugin test 2" version="0.1.0" provider-name="the codehaus">
  <runtime>
    <library name=".">
      <export name="*" />
    </library>
  </runtime>
  <requires>
    <import plugin="org.eclipse.text" />
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.mevenide.maven.pde.plugin.test" />
  </requires>
</plugin>

