<!DOCTYPE idea-plugin PUBLIC "Plugin/DTD" "http://plugins.intellij.net/plugin.dtd">
<idea-plugin url="http://mevenide.codehaus.org/mevenide-idea">
    <name>Mevenide IDEA integration</name>
    <id>mevenide-idea</id>
    <description>This plugin provides strong integration of Maven with IntelliJ IDEA.</description>
    <version>0.2-SNAPSHOT</version>
    <vendor url="http://www.codehaus.org" email="arikkfir@gmail.com">
        The Codehaus
    </vendor>
    <change-notes>
        See http://mevenide.codehaus.org/mevenide-idea/changes-report.html for details.
    </change-notes>
    <idea-version since-build="3339"/>

    <actions>

        <group class="org.mevenide.idea.synchronize.SynchronizeWithModuleActionGroup"
               id="org.mevenide.idea.synchronize.SynchronizeWithModuleActionGroup"
               text="Synchronize"/>
        
        <action class="org.mevenide.idea.project.actions.AddPomAction"
                text="Add POM"
                id="org.mevenide.idea.project.actions.AddPomAction">

            <add-to-group anchor="last" group-id="EditorPopupMenu"/>
            <add-to-group anchor="last" group-id="EditorTabPopupMenu"/>
            <add-to-group anchor="last" group-id="ProjectViewPopupMenu"/>
            <add-to-group anchor="last" group-id="CommanderPopupMenu"/>
        </action>

        <action class="org.mevenide.idea.project.actions.RemovePomAction"
                text="Remove POM"
                id="org.mevenide.idea.project.actions.RemovePomAction">

            <add-to-group anchor="last" group-id="EditorPopupMenu"/>
            <add-to-group anchor="last" group-id="EditorTabPopupMenu"/>
            <add-to-group anchor="last" group-id="ProjectViewPopupMenu"/>
            <add-to-group anchor="last" group-id="CommanderPopupMenu"/>
        </action>
    </actions>

    <application-components>
        <component>
            <implementation-class>org.mevenide.idea.global.MavenManager</implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.global.MavenManagerConfigurable
            </implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.editor.pom.PomFileEditorProvider
            </implementation-class>
        </component>
    </application-components>

    <project-components>
        <component>
            <implementation-class>org.mevenide.idea.global.properties.PropertiesManager
            </implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.actions.MavenActionsManager
            </implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.global.reports.MavenReportManager
            </implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.repository.PomRepoManager</implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.project.ProxySettings</implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.project.jdk.PomJdkManager</implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.project.PomManager</implementation-class>
        </component>
        <component>
            <implementation-class>
                org.mevenide.idea.project.goals.PomPluginGoalsManager
            </implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.global.MavenPluginsManager
            </implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.psi.PomModelManager</implementation-class>
        </component>
        <component>
            <implementation-class>org.mevenide.idea.synchronize.InspectionsManager
            </implementation-class>
        </component>
    </project-components>

</idea-plugin>