<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.text"
   name="%pluginName"
   version="3.1.0"
   provider-name="%providerName">

   <runtime>
      <library name="lib_2.jar">
        <export name="*"/>
      </library>
      <library name="runtime/test_.jar">
        <export name="*"/>
      </library>
      <library name="runtime/lib_3.jar"/>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   
</plugin>
