<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide UI"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="Sourceforge"
   class="org.mevenide.ui.eclipse.Mevenide">

   <runtime>
      <library name="lib/forehead-1.0-beta-5.jar">
         <packages prefixes="com.werken.forehead"/>
      </library>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
         <packages prefixes="org.mevenide.ui.eclipse"/>
      </library>
      <library name="lib/commons-httpclient-2.0-rc1.jar">
         <packages prefixes="org.apache.commons.httpclient"/>
      </library>
   </runtime>
   <requires>
      <import plugin="@org.mevenide.core.id@"/>
      <import plugin="@org.mevenide.grabber.id@"/>
      <import plugin="@org.mevenide.config.id@"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.variables"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>


   <!-- Maven nature -->
   <extension
         id="mavennature"
         name="maven nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.mevenide.ui.eclipse.nature.MevenideNature">
         </run>
      </runtime>
   </extension>
   <!-- Maven actions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <!-- project contributions (adaptable) -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="maven.plugin.project.xml.contribution">
         <menu
               label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator
                  name="RunMaven">
            </separator>
            <separator
                  name="Synchronize">
            </separator>
            <separator
                  name="MavenNature">
            </separator>
         </menu>
         <action
               label="%RunMaven.label"
               icon="icons/maven-run.gif"
               class="org.mevenide.ui.eclipse.launch.configuration.MavenRunActionDelegate"
               menubarPath="maven.plugin.menu/RunMaven"
               enablesFor="1"
               id="maven.plugin.popup.action">
         </action>
         <action
               label="%CreatePom.label"
               icon="icons/maven-create-pom.gif"
               class="org.mevenide.ui.eclipse.actions.CreatePomAction"
               menubarPath="maven.plugin.menu/MavenNature"
               enablesFor="1"
               id="mevenide.pom.create">
         </action>
         <action
               label="%Synchronize"
               icon="icons/synced.gif"
               class="org.mevenide.ui.eclipse.actions.SynchronizeAction"
               menubarPath="maven.plugin.menu/Synchronize"
               enablesFor="1"
               id="maven-plugin.Synchronize">
         </action>
      </objectContribution>
      <!-- project.xml contributions -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="project.xml"
            id="maven.plugin.project.xml.contribution.ifile">
         <menu
               label="%MavenMenu.label"
               path="additions"
               id="maven.plugin.menu">
            <separator
                  name="RunMaven">
            </separator>
            <separator
                  name="Synchronize">
            </separator>
         </menu>
         <action
               label="%RunMaven.label"
               icon="icons/maven-run.gif"
               class="org.mevenide.ui.eclipse.launch.configuration.MavenRunActionDelegate"
               menubarPath="maven.plugin.menu/RunMaven"
               enablesFor="1"
               id="maven.plugin.popup.action">
         </action>
         <action
               label="%Synchronize"
               icon="icons/synced.gif"
               class="org.mevenide.ui.eclipse.actions.SynchronizeAction"
               menubarPath="maven.plugin.menu/Synchronize"
               enablesFor="1"
               id="maven-plugin.Synchronize">
         </action>
      </objectContribution>
   </extension>
   <!-- Maven preferences -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MavenMenu.label"
            class="org.mevenide.ui.eclipse.preferences.MevenidePreferencePage"
            id="org.mevenide.ui.plugin.preferences.MavenPreferencePage">
      </page>
   </extension>

   <!-- Maven POM editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%PomEditor.name"
            extensions="xml"
            icon="icons/pom_file.gif"
            contributorClass="org.mevenide.ui.eclipse.editors.MevenidePomEditorContributor"
            class="org.mevenide.ui.eclipse.editors.MevenidePomEditor"
            id="org.mevenide.ui.eclipse.editors.MevenidePomEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%RunMaven.label"
            delegate="org.mevenide.ui.eclipse.launch.configuration.MavenLaunchDelegate"
            category="org.eclipse.ui.externaltools"
            modes="run"
            id="org.mevenide.ui.launching.MavenLaunchConfigType">
      </launchConfigurationType>
   </extension>
   
   <!-- external tools integration -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.mevenide.ui.launching.MavenLaunchConfigType"
            class="org.mevenide.ui.eclipse.launch.configuration.MavenRunnerTabGroup"
            id="org.mevenide.ui.launching.TabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%LaunchShortcut.type.label"
            icon="icons/maven-run.gif"
            category="org.eclipse.ui.externaltools"
            modes="run"
            class="org.mevenide.ui.eclipse.launch.configuration.MavenLaunchShortcut"
            id="org.mevenide.ui.mavenShortcut">
      </shortcut>
   </extension>
   
   <!-- Synchronize view -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Maven"
            id="org.mevenide.ui.synchronize.view">
      </category>
      <view
            name="Pom Synchronizer"
            icon="icons/maven.gif"
            category="org.mevenide.ui.synchronize.view"
            class="org.mevenide.ui.eclipse.sync.view.SynchronizeView"
            id="org.mevenide.ui.synchronize.view.SynchronizeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               id="org.mevenide.ui.synchronize.view.SynchronizeView"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   

</plugin>
