<nbm>
   <moduleType>normal</moduleType>
   <codeNameBase>org.codehaus.mevenide.netbeans.feature/1</codeNameBase>
   <cluster>mevenide</cluster>
   <manifest>src/main/nbm/manifest.mf</manifest>
   <homepageUrl>http://mevenide.codehaus.org/m2-site</homepageUrl>
   <distributionUrl>http://mevenide.codehaus.org/nbm_release2</distributionUrl>
   <licenseName>Apache License, Version 2.0</licenseName>
   <licenseFile>license.txt</licenseFile>
   <dependencies>
      <dependency>
          <id>org.codehaus.mevenide:j2ee</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:persistence</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:autoupdate</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:grammar</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:netbeans-repository</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:nb-project</id>
      </dependency>
      <dependency>
          <id>org.codehaus.mevenide:apisupport</id>
      </dependency>
   </dependencies> 
</nbm>