<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide M2 Alpha Support"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="The Codehaus"
   class="org.codehaus.mevenide.ui.eclipse.M2Plugin">

   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
         <packages prefixes="org.mevenide.ui.eclipse"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.mevenide.m2"/>
      <import plugin="org.mevenide.config"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.core.variables"/>
   </requires>
  
  <!-- M2 LaunchConfiguration type -->
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%RunMaven2.label"
            delegate="org.codehaus.mevenide.ui.eclipse.launch.M2LaunchDelegate"
            category="org.eclipse.ui.externaltools"
            modes="run"
            id="org.codehaus.mevenide.ui.eclipse.launch.M2LaunchConfigType">
      </launchConfigurationType>
   </extension>
   <!-- M2 launcher configuration type image -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             icon="icons/etool16/maven_exc.gif"
             configTypeID="org.codehaus.mevenide.ui.eclipse.launch.M2LaunchConfigType"
             id="org.codehaus.mevenide.ui.eclipse.launch.M2LaunchConfigTypeImage"/>
    </extension>
   <!-- M2 Launcher TabGroup -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.codehaus.mevenide.ui.eclipse.launch.M2LaunchConfigType"
            class="org.codehaus.mevenide.ui.eclipse.launch.M2RunnerTabGroup"
            id="org.codehaus.mevenide.ui.eclipse.launch.M2RunnerTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <!-- M2 LaunchShortcut -->
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%LaunchShortcut.type.label"
            icon="icons/etool16/maven_exc.gif"
            category="org.eclipse.ui.externaltools"
            class="org.codehaus.mevenide.ui.eclipse.launch.M2LaunchShortcut"
            modes="run"
            id="org.codehaus.mevenide.ui.eclipse.launch.M2LaunchShortcut">
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleColorProviders">
      <consoleColorProvider
            class="org.codehaus.mevenide.ui.eclipse.launch.M2ConsoleColorProvider"
            processType="org.codehaus.mevenide.ui.eclipse.launch.M2Process"
            id="org.codehaus.mevenide.ui.eclipse.launch.M2ConsoleColorProvider">
      </consoleColorProvider>
   </extension>

   <!-- Maven2 actions -->
   <extension point="org.eclipse.ui.popupMenus">
         
      <!-- project contributions (adaptable) -->
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="maven.plugin.pom.xml.contribution">
         <action
               label="%RunMaven2.label"
               icon="icons/maven-button.gif"
               class="org.codehaus.mevenide.ui.eclipse.actions.RunMaven2Action"
               menubarPath="maven.plugin.menu/RunMaven"
               enablesFor="1"
               id="org.codehaus.mevenide.ui.eclipse.actions.RunMaven2Action">
         </action>
      </objectContribution>
      
      <!-- pom.xml contributions -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="pom.xml"
            id="maven.plugin.pom.xml.contribution.ifile">
         <action
               label="%RunMaven2.label"
               icon="icons/maven-button.gif"
               class="org.codehaus.mevenide.ui.eclipse.actions.RunMaven2Action"
               menubarPath="maven.plugin.menu/RunMaven"
               enablesFor="1"
               id="org.codehaus.mevenide.ui.eclipse.actions.RunMaven2Action">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
