<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="@maven.eclipse.plugin.artifact.id@"
   name="Mevenide Core"
   version="@maven.eclipse.plugin.artifact.version@"
   provider-name="The Codehaus">

   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
         <export name="*"/>
         <packages prefixes="org.mevenide"/>
      </library>
   </runtime>

</plugin>
