<plugin>
  <id>pde</id>
  <mojos>
    <mojo>
      <id>pde:plugin</id>
      <implementation>org.codehaus.mevenide.pde.plugin.EclipsePluginMojo</implementation>
      <instantiationStrategy>singleton</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>eclipseHome</name>
          <type>String</type>
          <required>true</required>
          <validator></validator>
          <expression>#maven.pde.eclipse.home</expression>
          <description>Location of Eclipse home directory</description>
        </parameter>
        <parameter>
          <name>eclipseConfigurationFolder</name>
          <type>String</type>
          <required>false</required>
          <validator></validator>
          <expression>#maven.pde.eclipse.configuration</expression>
          <description>Eclipse configuration folder</description>
        </parameter>
        <parameter>
          <name>maxBuildId</name>
          <type>Long</type>
          <required>false</required>
          <validator></validator>
          <expression>#maven.pde.maxBuildId</expression>
          <description>Max compatible platform buildId</description>
        </parameter>
        <parameter>
          <name>minBuildId</name>
          <type>Long</type>
          <required>false</required>
          <validator></validator>
          <expression>#maven.pde.minBuildId</expression>
          <description>Min compatible platform buildId</description>
        </parameter>
        <parameter>
          <name>outputDirectory</name>
          <type>String</type>
          <required>false</required>
          <validator></validator>
          <expression>#maven.build.dir/eclipse</expression>
          <description>Directory where the generated artifact will be outputted</description>
        </parameter>
        <parameter>
          <name>basedir</name>
          <type>String</type>
          <required>false</required>
          <validator></validator>
          <expression>#basedir</expression>
          <description>Base directory where plugin.xml is located</description>
        </parameter>
        <parameter>
          <name>workspace</name>
          <type>String</type>
          <required>false</required>
          <validator></validator>
          <expression>#maven.pde.workspace</expression>
          <description>Eclipse workspace Location</description>
        </parameter>
      </parameters>
      <prereqs>
        <prereq>surefire:test</prereq>
      </prereqs>
    </mojo>
  </mojos>
  <dependencies>
    <dependency>
      <groupId>jdom</groupId>
      <artifactId>jdom</artifactId>
      <version>1.0</version>
    </dependency>
    <dependency>
      <groupId>commons-lang</groupId>
      <artifactId>commons-lang</artifactId>
      <version>2.0</version>
    </dependency>
    <dependency>
      <groupId>plexus</groupId>
      <artifactId>plexus</artifactId>
      <version>0.14-SNAPSHOT</version>
    </dependency>
    <dependency>
      <groupId>classworlds</groupId>
      <artifactId>classworlds</artifactId>
      <version>1.1-SNAPSHOT</version>
    </dependency>
    <dependency>
      <groupId>xpp3</groupId>
      <artifactId>xpp3</artifactId>
      <version>1.1.2a</version>
    </dependency>
    <dependency>
      <groupId>xstream</groupId>
      <artifactId>xstream</artifactId>
      <version>1.0-SNAPSHOT</version>
    </dependency>
    <dependency>
      <groupId>maven</groupId>
      <artifactId>maven-plugin</artifactId>
      <version>2.0-SNAPSHOT</version>
    </dependency>
    <dependency>
      <groupId>maven</groupId>
      <artifactId>maven-project</artifactId>
      <version>2.0-SNAPSHOT</version>
    </dependency>
    <dependency>
      <groupId>maven</groupId>
      <artifactId>maven-model</artifactId>
      <version>2.0-SNAPSHOT</version>
    </dependency>
    <dependency>
      <groupId>maven</groupId>
      <artifactId>wagon-api</artifactId>
      <version>0.9-SNAPSHOT</version>
    </dependency>
  </dependencies>  
</plugin>

